.map-location {
  font-family: "Sansita Swashed", cursive;
  text-align: center;
}

.flight-form {
  margin-left: 250px;
  margin-right: 250px;
}

.custom-select {
  width: 25%;
}

.change-option {
  cursor: pointer;
  border: black 1px solid;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top: 10px;
}

.change-option:hover {
  color: wheat;
}

.go-button {
    margin-bottom: 20px;
}

.get-current {
  /* display: flex; */
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.get-current:hover {
  color: wheat;
}

.age-select {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
