.body-title {
  font-family: "Pacifico", cursive;
  position: relative;
  text-align: center;
  margin-top: 30px;
  font-size: 45px;
}

.body-text {
  font-size: 18px;
  line-height: 1.6;
}

.body-column{
  margin-top: 130px;
}

.button-row {
  justify-content: center;
}

@media (max-width: 450px) {
  .inner-text {
    font-size: 18px;
  }
}

@media (max-width: 312px) {
  .inner-text {
    font-size: 10px;
  }
  .inner-text h5 {
    font-size: 11px;
  }
}