.header-div {
  max-height: 530px;
  overflow: hidden;
}

#header-img {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

.header-title {
  font-family: "Pacifico", cursive;
  position: relative;
  text-align: center;
  margin-top: 200px;
  font-size: 45px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
@keyframes border {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
.header-title:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: white;
  -webkit-animation-name: border; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: border;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.header-text {
  /* position: relative; */
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
  color: #f5deb3;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
}

.header-notice {
  background-color: black;
  opacity: 50%;
  font-size: 13px;
  text-align: center;
}

@media (max-width: 550px) {
  .header-title {
    margin-top: 100px;
  }
  .header-text {
    font-size: 15px;
  }
  #home-title {
    font-size: 30px;
  }
}

@media (max-width: 445px) {
  #home-title {
    font-size: 25px;
  }
  .header-title {
    margin-top: 50px;
  }
  .header-text {
    font-size: 13px;
  }
}

@media (max-width: 350px) {
  .header-notice {
    font-size: 7px;
  }
}

@media (max-width: 330px) {
  .header-title {
    margin-top: 20px;
    font-size: 35px;
  }
  .header-text {
    font-size: 10px;
  }
  #home-title {
    font-size: 20px;
  }
}

@media (max-width: 260px) {
  .header-title {
    margin-top: 10px;
    font-size: 25px;
  }
  .header-text {
    font-size: 8px;
  }
  .header-notice {
    font-size: 5px;
  }
  #home-title {
    font-size: 15px;
  }
}
