.header-div {
  max-height: 530px;
  overflow: hidden;
}

#header-img {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

.header-title {
  position: relative;
  text-align: center;
  margin-top: 200px;
}

.header-text {
  position: relative;
  text-align: center;
  /* max-height: 530px; */
  /* overflow: hidden; */
}

.header-notice {
  background-color: black;
  opacity: 50%;
  font-size: 13px;
  text-align: center;
}
